.Task .description {
  /* overflow: unset; */
  word-wrap: break-word;
}
.Task button.title-button {
  border:  none;
  background-color: transparent;
  font-size: 1.5em;
  color: rgb(116, 110, 110);
  border-bottom: 1px solid rgba(10, 88, 55, 0.74);
  width: 90%;
  max-width: 800px;
  text-align: left;
  overflow: scroll;
}
.Task button.title-button:hover {
  background-color: rgba(128, 128, 128, 0.397);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  border-bottom: 2px solid rgba(196, 199, 199, 0.911);
}


.task-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-left {
  width: 50px;
}
.top-right {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.top-mid {
  width: 100%;
  padding-left: 10px;
}
button.items, button.task-delete, button.task-update {
  /* background-color: rgb(100, 172, 177); */
  border: none;
  color: white;
  font-size: 0.79em;
  border-radius: 2px;
  margin-left: 12px;
  padding: 2px 10px;
  
}
button.task-delete {
  /* background-color: rgba(255, 60, 0, 0.363); */
  background-color: rgba(255, 60, 0, 0.411);
  border-radius: 900px;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 5px 0;
  border-bottom-left-radius: 0;
}
button.task-delete:hover {
  background-color: rgba(255, 60, 0, 0.582);
}
.task-delete > img {
  width: 25px;
}
button.tag {
  /* background-color: #f2f229b3; */
  /* background-color: #ebeba1d0; */
  background-color: #f0f05ca9;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  color: rgba(97, 96, 96, 0.849);
  margin: 2.5px;
  padding: 5px;
}
.top-right {
  display: flex;
  flex-wrap: wrap;
  /* width: 400px; */
}


.Task img {
  max-width: 100%;
}

@media only screen and (max-width : 800px) {
  textarea.description {
    width: 80%;
  }
  .task-top {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .task-top > .top-right {
    justify-content: right;
    width: 100%;
    margin-bottom: 10px;
  }
  .task-top > .task-delete {
    margin: 0;
    margin-bottom: 10px;
    justify-content: right;
    width: 30px;
    padding: 5px 0;
  }

.Task img:hover {
  width: 200%;
  max-width: initial;
  margin-left: -15%;
}
}
