
.Task {
  z-index: 4;
  width: 98%;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(90, 113, 245, 0.596);
  margin-bottom: 8px;
  padding: 10px;
  box-shadow: 4px 2px 14px 0px #888888;
  margin-bottom: 20px;
}
.Task.edit {
  background-color: rgba(201, 231, 231, 0.87);
}

